{% extends "base.html" %}

{% block container %}

<form class='login' action="" method="post" name="password">
	Hi, {{nickname}}. Enter password:
	{{form.hidden_tag()}}

	<div class='row'>
		<p>
			{{form.password()}}
			{%for error in form.errors.password %}
			<span style="color: red;"> [{{error}}] </span>
			{%endfor%} 
			{% if errorPass%}
			<span style="color: red;"> [{{errorPass}}] </span>
			{%endif%}
		</p>
		<p> <input type='submit' value = 'Enter'></p>
	</div>
</form>

{% endblock %}
